/*#############################################
							GLOBAL
#############################################*/

@font-face {
	font-family: HPfont;
	src: url("./fonts/hp-font.TTF");
}

*, html, body {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: min( 5vw, 20px );  /**** MQ[1] ****/

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	margin: auto;
	max-width: 630px;
	color: #eee;
	background-color: #000;
}

a {
	color: #092;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {	
	font-family: HPfont;
	font-size: 2.5rem; /***** RESULT OF MQ[1] *****/
	letter-spacing: 1px;
	text-align: center;
}

.sec1, .sec2, .sec3{
	background-color: #333;
	padding: 1rem; /**** RESULT OF MQ[1] ****/
}

.visibleTag {
	display: initial;
	/* display: none; */
}

/*#############################################
							HEADER + FOOTER
#############################################*/

header, footer {
	padding: 1rem; /***** RESULT OF MQ[1] *****/
	color: #ddd;
	background-color: #1c1c1c;
	text-shadow: 3px 3px 1px #000;
}

header > h2 {
	font-weight: 300;
}

footer {
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

/*#############################################
							SECTION 1
#############################################*/

.sec1-title {
	font-size: 3.3rem; /***** RESULT OF MQ[1] *****/
	margin-top: 0.7rem; /***** RESULT OF MQ[1] *****/
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 3px 3px 1px #000
}

.sec1-subtitle {
	width: fit-content;
	margin: 1.4rem auto; /***** RESULT OF MQ[1] *****/
	font-style: italic;
	text-shadow: 1px 1px 0 #111;
	color: #eeec;
}

.sec1-subtitle-potions{color: #39cc;}
.sec1-subtitle-ingredients{color: #9c3c;}
.sec1-subtitle-cauldron{color: #c39c;}

.sec1-images{
	text-align: center;
	margin-top: 2.5rem; /***** RESULT OF MQ[1] *****/
}

.sec1-img-book{ width: 10rem; } /***** RESULT OF MQ[1] *****/
.sec1-img-devilsnare{ width: 8rem; } /***** RESULT OF MQ[1] *****/
.sec1-img-cauldron{ width: 9rem; } /***** RESULT OF MQ[1] *****/

.sec1-wave {
	stroke: none; /*** don't change ***/
	fill: #092a;
}

/*#############################################
							SECTION 2
#############################################*/

.sec2-form-box {
	margin: 1.5rem 0;
	padding: 1.5rem 0.5rem; /***** RESULT OF MQ[1] *****/
	text-align: center;
	background-color: #ccc;
	color: #222;
	border-radius: 5px;
}

.sec2-title {
	margin-bottom: 1.5rem;
	text-shadow: 2px 2px 2px #092;
}

.sec2-form-inp {
	width: 80%;
	max-width: 414px;
	margin-top: 1rem; /***** RESULT OF MQ[1] *****/
	border: 1px solid #000;
	border-radius: 2px;
	padding: 0.3rem; /**** RESULT OF MQ[1] ****/
}

.sec2-form-inp:focus, .sec2-form-inp:active {
	outline: none;
	border: 1px solid #092;
	box-shadow: 0 0 3px #092;
}

.sec2-form-inp:hover {
	outline: none;
	border: 1px solid #092;
}

.sec2-form-inp[type="text"] {
	text-transform: uppercase;
}

.sec2-form-button {
	padding: 1rem 0.8rem;
	margin-top: 1.5rem;
	background-color: #092;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-weight: 600;
	border: none;
}

.sec2-form-button:hover {
	box-shadow: 0px 0px 10px #092;
}

.sec2-form-button:active {
	background-color: #062;
	color: #ccc;
}


/*-----------------------*/
/*		CUSTOM CHECK BOX   */
/*-----------------------*/

/* The sec2-form-checkbox */
.sec2-form-checkbox {
	text-indent: 30px;
	width: fit-content;
	margin: 1rem auto;/***** RESULT OF MQ[1] *****/
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
 
/* Hide the browser's default checkbox */
.sec2-form-checkbox input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;
}
 
 /* Create a custom checkbox */
 .sec2-form-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
}
 
 /* On mouse-over */
 .sec2-form-checkbox:hover input ~ .sec2-form-checkmark { box-shadow: 0 0 5px #0925; }

/* When the checkbox is checked, add some background color */
.sec2-form-checkbox input:checked ~ .sec2-form-checkmark { background-color: #092; }
 
/* Create the sec2-form-checkmark/indicator (hidden when not checked) */
.sec2-form-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
 
/* Show the sec2-form-checkmark when checked */
.sec2-form-checkbox input:checked ~ .sec2-form-checkmark:after { display: block; }
 
/* Style the sec2-form-checkmark/indicator */
.sec2-form-checkbox .sec2-form-checkmark:after {
	top: 4px;
	left: 7px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*-----------------------*/


/*#############################################
							SECTION 3
#############################################*/

/* .sec3 {
	overflow: hidden;
} */

.sec3-title{
	text-shadow: 3px 3px 1px #000;
	letter-spacing: 2px;
	color: #fff;
	margin-bottom: 1.5rem;
}

.sec3-potion-box {
	margin-top: 1rem;
	padding: 0.3rem;
	background-color: #0925;
	border-radius: 1px 25px;
	text-shadow: 1px 1px 0 #000;
	display: flex;
	align-items: center;
}

.sec3-potion {
	width: 7rem;
	margin-right: 0.5rem;
}

.sec3-4potions {
	width: 13rem;
	margin-right: 0.25rem;
}

.sec3-potion-description {
	font-style: italic;
}


/*#############################################
							MEDIA QUERIES
#############################################*/

@media only screen and (min-width: 1024px) {
	
	body {
		max-width: 1280px;
	}

	.sec1 {
		display: inline-block;
		width: 50%;
		min-height: 85vh;
	}
	
	.sec1-title {
		font-size: 4rem;
	}
	
	.sec2 {
		float: right;
		width: 50%;
		min-height: 85vh;
	}
		
	.sec2-form-box {
		width: 380px;
		margin: 6rem 0 0rem 2rem;
		border-radius: 1px 25px;
	}

	.sec2-title {
		margin-bottom: 1.5rem;
		font-size: 2.2rem;
	}

	.sec2-form-inp {
		width: 85%;
		margin-top: 0.75rem;
		padding: 0.4rem;
		font-size: 16px;
	}

	.sec2-form-checkbox {
		margin-top: 0.75rem;
		font-size: 16px;
	}

	.sec2-form-button {
		margin-top: 2rem;
	}

	.visibleTag {
		/* display: initial; */
		display: none;
	}

}