@font-face {
	font-family: HPfont;
	src: url(./hp-font.TTF);
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}

header {
	background-color: #66f;
	padding: 1px;
}

h1 {
	font-family: HPfont;
	font-weight: 300;
	font-size: 70px;
	text-align: center;
	letter-spacing: 0px;
}

h2{
	/* font-family: sans-serif; */
	margin: 0;
	padding: 10px;
	font-family: HPfont;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0px;
	background-color: #66f;
}

.leftsection {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
	border: 1px solid black;
	/* text-align: center; */
}

.rightsection {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 50%;
	border: 1px solid black;
	float: right;
	/* text-align: center; */
}

form {
	text-align: center;
}

form > input {
	width: 90%;
	padding: 10px;
	border: 2px solid #66f;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
}

.button{
	
}

