@font-face {
	font-family: HPfont;
	src: url(./hp-font.TTF);
 }

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body{
	background-color: #222;
	font-family: sans-serif;
	color: #ddd;
} */

header{
	/* position: relative; */
	/* margin: auto; */
	border: 1px solid white;
	background-color: #222;
	color: white;
}

h1{
	margin: 10px 0;
	font-size: 60px;
	font-weight: 600;
	font-family: HPfont;
	letter-spacing: 1px;
	color: #79f;
}

 h2{
/*	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%); */	
	margin: 10px 0;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	font-family: HPfont;
	letter-spacing: 1px;
}

.sec1{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	background-color: #222;
	color: #ddd;
}

.sec2{
	text-align: center;
	padding: 10px;
	font-size: 18px;
	background: #ddd;
	color: #222;
}

.sec2 > form > input[type="text"], input[type="email"] {
	width: 85%;
	padding: 7px;
	margin: 7px 0;
	text-transform: uppercase;
}

.checkboxSec2{
	margin-top: 7px;
	font-size: 16px;
}

.button{
	padding: 10px;
	margin: 28px;
	border: none;
	background: #f13;
	font-weight: 600;
	font-size: 18px;
	color: #ddd;
}

.button:hover{
	background: #c13;

}

.sec3{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	background-color: #222;
	color: white;
}